

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@include mat-core();


 

/* .searchField div.mat-form-field-underline {

    display: none;
}

.searchField div.mat-form-field-infix{

    border-top: 5px;
}

.searchField div.mat-form-field-wrapper{

    padding-bottom: 5px;
}

.searchField div.mat-form-field-suffix button{

    height: 32px;
    width: 32px;
}  */
        